@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
.wrapper {
  padding: 31px 28px;
  margin: 144px auto;
  width: 1060px;
  background-color: #f2f2f2;
  border: 2px solid #bdbdbd;
  border-radius: 15px;
  text-align: center;
}

.wrapper h1 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 10px;
}

.wrapper h1::after {
  content: " ";
  display: block;
  margin: 0 auto;
  width: 650px;
  height: 2px;
  background-color: #bdbdbd;
  margin-top: 37px;
}

.wrapper .navbar {
  padding: 28px 312px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .navbar .on {
  font-weight: 900;
}

.wrapper .movie_list {
  border: 2px solid #bdbdbd;
  border-radius: 15px;
  background-color: #fff;
  padding: 26px 27px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 23px;
}

.wrapper .movie_list_item {
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  width: 220px;
}

.wrapper .movie_list_item img {
  width: 180px;
  height: 250px;
  margin-top: 19px;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.wrapper .movie_list_item .btn {
  width: 100%;
  background-color: #f2f2f2;
  border-top: 1px solid #bdbdbd;
  border-radius: 0 0 10px 10px;
  padding: 9px 27px 12px;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  line-height: 20px;
  cursor: pointer;
}

.wrapper .movie_list_item .btn::after {
  position: absolute;
  content: "";
  background-color: #bdbdbd;
  width: 1px;
  height: 41px;
  left: 107px;
  top: 0;
}

.wrapper .movie_list_item .btn .trailer {
  padding-left: 68px;
  position: relative;
}

.wrapper .movie_list_item .btn .trailer::before {
  content: "";
  position: absolute;
  background: url(/images/css_sprites.png) no-repeat;
  background-size: 152px 34px;
  background-position: -29px -5px;
  width: 16px;
  height: 16px;
  left: 50px;
  top: 2px;
}

.contents {
  padding: 0 20px 18px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.contents .title {
  font-weight: 900;
  margin: 11px 0;
}

.contents .sub_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.contents .info {
  font-size: 13px;
  color: #828282;
  margin-bottom: 5px;
}

.contents .info span {
  margin-left: 5px;
  color: #000;
}

.contents .info .rank {
  position: relative;
  margin-left: 23px;
}

.contents .info .rank::before {
  content: "";
  position: absolute;
  background: url(/images/css_sprites.png) no-repeat;
  background-size: 152px 34px;
  background-position: -5px -5px;
  width: 14px;
  height: 14px;
  left: -18px;
}

footer {
  background-color: #f2f2f2;
  display: block;
  position: relative;
  padding: 38px 365px;
  overflow: hidden;
  line-height: 20px;
}

footer h2 {
  font-size: 22px;
  font-weight: 700;
  padding: 15px 0 42px;
  border-bottom: 1px solid #bdbdbd;
}

footer dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  font-size: 14px;
  color: #4f4f4f;
  padding-top: 36px;
}

footer dl dt {
  margin-right: 4px;
  font-weight: 700;
}

footer dl dt:nth-child(1) {
  margin-right: 20px;
}

footer dl dd {
  margin-right: 20px;
}

footer .sns_list {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 21px;
  overflow: hidden;
  font-size: 1px;
  line-height: 0;
  text-indent: -9999px;
  right: 365px;
  top: 54px;
}

footer .sns_list .twitter {
  background: url(/images/css_sprites.png) no-repeat;
  background-size: 152px 34px;
  width: 24px;
  height: 24px;
  background-position: -55px -5px;
}

footer .sns_list .instagram {
  background: url(/images/css_sprites.png) no-repeat;
  background-size: 152px 34px;
  width: 24px;
  height: 24px;
  background-position: -88px -5px;
}

footer .sns_list .facebook {
  background: url(/images/css_sprites.png) no-repeat;
  background-size: 152px 34px;
  width: 24px;
  height: 24px;
  background-position: -123px -5px;
}

footer .copyright {
  float: right;
  margin-top: 36px;
}
/*# sourceMappingURL=style.css.map */